<% @user.password = @user.password_confirmation = nil %>
<%= title "Signup", :h2 %>
<% form_for @user do |f| %>
	<%= f.error_messages %>
	<%= render :partial => 'form', :locals => {:f => f} %>
	
	<div class="buttons">
		<%= submit_tag 'Sign me up!', :class => 'submit' %>
	</div>
	
<% end %>
