<%= title "Yo, dawg, I heard you like presents...", :h2 %>
<p><span>Giving people gifts is fun.</span> So is hanging out with all your friends. So I figured let's combine both and we'll have a big party at our house and throw all the gifts in a pile of name-tags and wrapping paper and then everyone gets something. You can sit back like a christmas ninja and revel as your giftee wonders what amazing and insightful person got them this wonderful gift, or you can stand up and shout "I GOT YOU THAT AREN'T I THE BEST FRIEND EVER?!". Good times, right?</p>

<p><span>All you have to do</span> is <%= link_to 'sign up', signup_path %> and this little web page will take care of the rest. In a week or so, you'll be randomly matched with another participant and you can log in and see what they're into to help you come up with an idea.</p>

<h3>The Skinny</h3>
<ul>
	<li>Gifts are exchanged on December 18th at John and Gosia's house</li>
	<li>If you aren't participating in the Secret Santa, you can't come.</li>
	<li>Bringing food is encouraged, but not required. Either way, this ain't no kegger, so BYO.</li>
	<li>The gift minimum is $15 unless you'd rather make something by hand, which is totally encouraged.</li>
	<li>If you want to participate but can't make the party, you can get your gift to our house beforehand and we'll throw it in the pile. Just drop it off or mail it or whatever you can work out.</li>
	<li>Yes, you might get randomly paired with someone you don't know well or at all. That's why everyone is asked to fill out a small bio to help their gifter out. As a gifter, you can either follow the bio to a T, or forge your own path and try to get them something you think everyone should enjoy.</li>
	<li>Afterwards, this page will be updated with pictures of each person's gifts (and the gifter, should they choose to reveal themselves).</li>
</ul>
